
.content{
    // background: red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .left{
        width: 50%;
        .item {
            text-align: center;
            color: #363636;
            img {
              width: 83px;
              height: 83px;
              border: 2px solid #258df2;
              border-radius: 0 10px 0 10px;
            }
          }
    }
    .right{
        width: 50%;
        .p_1{
            color: #00A383;
            font-size: 16px;
            line-height: 30px;
            margin: 0;
        }
        .p_2{
            width: 60%;
            color: #9A9A9A;
            line-height: 30px;
            font-size: 14px;
            margin: 0;
        }
        .p_3{
            padding: 20px 0;
            line-height: 18px;
            color: #333;
            font-size: 14px;
        }
    }

}   